.book {
    width: 100%;
    background-color: lightgray;
    border-radius: 15px;
    padding: 1ch;
    display: flex;
    justify-content: space-between;
}

@keyframes hoverAnimation {
    from {
        background-color: lightgray;
    }
    to {
        background-color: white;
    }
}

.book:hover {
    animation: hoverAnimation 0.3s ease-in-out forwards;
}

.button {
    background-color: none;
    color: none;
    border: none;
}