.book {
    width: 100%;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 15px;
    padding: 1ch;
}

@keyframes hoverAnimation {
    from {
        background-color: lightgray;
    }
    to {
        background-color: white;
    }
}

.book:hover {
    animation: hoverAnimation 0.3s ease-in-out forwards;
}